.page__wrapper{
    display: flex;
    font-size: 25px;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.page{
    border: 1px solid #39ff14;
    padding: 5px 15px;
    cursor: pointer;
}

.page__current {
    opacity: 0.5;
    font-weight: bold;
}